<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Đổi mật khẩu</span>
    </mat-toolbar-row> 

</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="changePaswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Mật khẩu cũ</mat-label>
                <input matInput type="password" formControlName="oldPassword" required>
                <mat-error *ngIf="changePaswordForm.controls.oldPassword.touched && changePaswordForm.controls.oldPassword.invalid">
                    <span *ngIf="changePaswordForm.controls.oldPassword.invalid">Không được bỏ trống</span>
                    <span *ngIf="changePaswordForm.controls.oldPassword.error.required">tên đăng nhập không hợp lệ </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Mật khẩu mới</mat-label>
                <input type="password" matInput formControlName="newPassword" required>
                <mat-error *ngIf="changePaswordForm.controls.newPassword.touched && changePaswordForm.controls.newPassword.invalid">
                    <span *ngIf="changePaswordForm.controls.newPassword.invalid">Không được bỏ trống</span>
                    <span *ngIf="changePaswordForm.controls.newPassword.error.required">Mật khẩu không hợp lệ </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
                <mat-label>Xác nhận mật khẩu</mat-label>
                <input type="password" matInput formControlName="confirmPassword" required>
                <mat-error *ngIf="changePaswordForm.controls.confirmPassword.touched && changePaswordForm.controls.confirmPassword.invalid">
                    <span *ngIf="changePaswordForm.controls.confirmPassword.invalid">Không được bỏ trống</span>
                    <span *ngIf="changePaswordForm.controls.confirmPassword.error.required">Mật khẩu không hợp lệ </span>
                </mat-error>
                <mat-hint *ngIf="validateSubmit() && !(changePaswordForm.controls.confirmPassword.invalid)">
                    <span>Bạn phải nhập giống mật khẩu mới</span>
                </mat-hint>
            </mat-form-field>
        </div>
        
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button mat-dialog-close color="primary">
        Hủy
    </button>
    <button mat-raised-button color="primary" type="submit" (click)="handChangePasswordSubmit()" [disabled]="(validateSubmit() || !(changePaswordForm.valid && changePaswordForm.dirty))">
        Xác nhận
    </button>
</mat-dialog-actions>